---
layout: archive
title:  "<q>Educators shouldn’t be afraid of cliches; because kids don’t know most of them! And they’re inspired by cliches.</q> &nbsp; --  <i>Randy Pausch</i>"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}
 <table style="width:100%;border:0px;border-spacing:0px;border-collapse:collapse;margin-right:auto;margin-left:auto;"><tbody>
            <tr>
            <td style="padding:8px;width:100%;vertical-align:middle;border:0px">
                 <p>
<hr>
<center>
<i>I slept and dreamt that life was joy. I awoke and saw that life was service. I acted and behold, service was joy. -- Rabindranath Tagore</i>
</center>
              </p>
            </td>
          </tr>
</tbody></table>
