---
layout: archive
title: ""
permalink: /talks/
author_profile: true
---
<body>
  <div><img src="../images/lab_icon_ons.png" width="1000" alt="My Image" /></div>
  <h2>SPAI Group's Talks</h2>
{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
 <table style="width:100%;border:0px;border-spacing:0px;border-collapse:collapse;margin-right:auto;margin-left:auto;"><tbody>
            <tr>
            <td style="padding:8px;width:100%;vertical-align:middle;border:0px">         
            </td>
               <p>
  <hr>
<center>
<i>One cannot hope to build a better world without improving the individuals. To that end, each of us must work 
  for our own improvement and, at the same time, share a genaral responsibility for all humanity,
  our particular duty being to aid those to whom we think can be useful. -- Marie Curie  </i>
</center>
              </p>
          </tr>
</tbody></table>
 
