---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}
{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
  <table style="width:100%;border:0px;border-spacing:0px;border-collapse:collapse;margin-right:auto;margin-left:auto;"><tbody>
            <tr>
            <td style="padding:11px;width:100%;vertical-align:middle;border:0px">
                 <p>
               <b>Copyright notice</b>: Copies of the papers are provided here for 
convenient dissemination of scholarly work. They can be downloaded for 
non-commercial research and education purposes only. Copyrights of the 
papers usually belong to the publishers of the journals or proceedings and 
must be adhered to by anyone using these materials. For other materials, feel free to use it at your convenience for good deeds! <br>
<br>
<hr>
<center>
<i>Pure mathematics is in its way the poetry of logical ideas. When the solution is simpler, God is answering -- Einstein</i>
</center>
              </p>
            </td>
          </tr>
</tbody></table>
