---
layout: archive
permalink: /year-archive/
title: "Blog posts"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---

{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}
<table style="width:100%;border:0px;border-spacing:0px;border-collapse:collapse;margin-right:auto;margin-left:auto;"><tbody>
            <tr>
            <td style="padding:8px;width:100%;vertical-align:middle;border:0px">
                 <p>
<hr>
<center>
<i>Somebody asked me <q>How do you write, create?</q> I told them, <q> I don't try!</q> 
<br>  
  That's very important, not to try.... You wait, and if nothing happens, you wait some more time. It's like a bug high on the wall. You wait for it to come to you.
  When it gets close enough you reach out, slap out and kill it. Or if you like its looks you make a pet out of it. -- Charles Bukowski</i>
</center>
              </p>
            </td>
          </tr>
</tbody></table>
